.carousel {
    background-color: #6f848e;
    height: 400px;
}

.carousel>h3 {
    font-weight: 900;
    text-align: center;
    color: white;
}

.carousel .contentDiv {
    width: 350px;
    height: 85px;
    margin-left: 4%;
}

.carousel .contentDiv1 {
    width: 350px;
    height: 40px;
    margin-left: 4%;
    margin-bottom: 5px;
}


.carousel img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#projects {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #6f848e;
}

#projects>h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.view {
    display: flex;
    justify-content: space-evenly;
}

.view a {
    text-decoration: none;
    color: black;
}

.view a:hover {
    color: blueviolet;
}

.view a img {
    width: 30px;
    height: 30px;
}

.pDiv {
    display: flex;
    width: 200px;
    height: 40px;
}

.view a .pDiv div {
    width: 200px;
    margin-top: -6px;
    margin-right: 25px;
}

@media screen and (max-width: 720px){
    #projects {
        width: 100%;
    }

    .carousel img {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
    }

    .view {
        display: inline-block;
        margin-top: -10px;
        align-items: center;
    }

    .view a .pDiv {
        margin-left: 50%;
    }

    .view a .pDiv div {
        margin-top: -14px;
        margin-right: 0px;
    }

    .carousel .contentDiv {
        width: 300px;
        height: 90px;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .view {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .view {
        display: block;
        margin-top: -10px;
    }

    .view a .pDiv {
        display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       margin-left: 35%;
    }

    .view a .pDiv>div {
        margin-top: -2px;
        margin-right: 0px;
        width: 100%;
    }

    .carousel img {
        margin: auto;
        width: 95%;
    }

    .carousel .contentDiv {
        width: 350px;
    }
    
    .carousel .contentDiv1 {
        width: 350px;
    }
}