 
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 70%;
    margin-left: 15%;
    /* margin-top: 50px; */
    /* background-color: aqua; */
    animation: 2s ease-out 0s 1 slideInFromRight;
  }

@keyframes slideInFromRight {
  100% {
      transform: translateX(-100%);
  }
  0% {
      transform: translateX(0);
  }
}
  
  .text {
    width: 980px;
    font-size: 50px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 900;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #1d1d1f;
  }

  .highlight {
    color: #3F51B5;
  }
  
  .mask {
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    margin: 5px 0 5px 0;
    /* padding-top: 30px; */
    
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
  }
  
  .mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
  }
  
  .mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
  }
  
  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }
  
  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }
  
  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }
  
  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }

.github5 {
    display: flex;
    margin-right: 20px;
}

.github5 h3 {
  margin-right: 15px;
}

.github5 div {
    margin-right: 15px;
    margin-top: 9px;
}

.github5 div a img {
    width: 40px;
    height: 40px;
}

.email {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.email a {
  text-decoration: none;
  color: black;
}

.emailDiv, .downloadDiv {
  width: 170px;
  height: 35px;
  border: 1px solid #3F51B5;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
}

.emailDiv {
  background-color: #3F51B5;
}

.emailDiv img{
  margin-left: 35px;
}

.emailDiv img, .downloadDiv img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
}

.emailDiv div, .downloadDiv div {
  font-weight: 900;
  font-size: 15px;
  margin-top: 7px;
}

.forMobile {
  display: none;
}

  @media screen and (max-width: 720px) {
    .main {
      display: block;
    }

    .github5 {
      display: none;
    }

    .forMobile {
      display: block;
      margin-left: 20%;
    }

    .myProfile {
      margin-top: 10%;
      margin-left: 25%;
    }

    .myProfile img {
      width: 200px;
      height: 200px;
      
      /* display: none; */
    }

    .text {
      display: none;
    }

    .email {
      display: block;
      margin-bottom: 5%;
      margin-left: 30%;
    }

    .emailDiv, .downloadDiv {
      margin-bottom: 5%;
    }
  }


  /* @media screen and (min-width: 768px) {
    .main {
      display: block;
    }

    .myProfile {
      margin-left: 25%;
      margin-top: 10%;
    }

    .myProfile img {
      width: 400px;
      height: 400px;
    }

    .text {
      display: none;
    }

    .forMobile {
      display: block;
      margin-left: 35%;
    }

    .forMobile>h2 {
      font-size: 30px;
    }

    .github5 {
      margin-left: 33%;
    }

    .email {
      margin-left: 29%;
    }
  } */