#mainDiv {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

#mainDiv>h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Fredoka', sans-serif;
}

.skills {
    display: flex;
    margin-top: 10px;
    flex-flow: row wrap;
    justify-content: center;
}

.skillDiv {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #cecece;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.skillDiv:hover {
    width: 140px;
    height: 140px;
    transform: rotate(10deg);
}

.skillDiv i {
    font-size: 70px;
    font-family: 'Fredoka', sans-serif;
}

@media screen and (max-width: 720px) {
    .skillDiv {
        margin-bottom: 10px;
    }
}