.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: #0D2821; */
}

.myLogoDiv {
    cursor: pointer;
}

.myLogoDiv img {
    width: 100px;
    height: 100px;
}

.menu {
    padding: 15px 15px 0 0;
    display: none;
}

.material-icons {
    color: rgb(96,96,96);
}

.leftNavbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* color: white; */
}

.leftNavbar div {
    padding-top: 20px;
    margin-right: 15px;
}

.childDiv div a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.childDiv {
    display: flex;
}

.childDiv .textDiv {
    padding-top: 25px;
}

.childDiv .textDiv a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

@media screen and (max-width: 720px) {
    .myLogoDiv img {
        width: 60px;
        height: 60px;
    }

    .menu {
        display: block;
    }
    
    .leftNavbar {
        left: 75%;
        top: 11%;
        transform: translate(-50%, 0);
        text-align: center;
        position: absolute;
        background-color: #549DA0;
        min-width: 160px;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: block;
    }

    .leftNavbar div {
        margin-left: 10px;
    }

    .childDiv .textDiv a {
        color: black
    }

    .childDiv div a img {
        margin-right: 0px;
    }

    
}