.footer {
    display: flex;
    background-color: #323f60;
    justify-content: space-between;
    
}

.myLogo {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myLogo a img {
    width: 100px;
    height: 100px;
}

.rights {
    padding-top: 40px;
}

.rights h2 {
    color: #cecece;
    font-size: 15px;
}

.rights h2:hover {
    color: black;
}

.github {
    display: flex;
    margin-right: 20px;
}

.github .githubChild {
    margin-right: 15px;
    padding-top: 50px;
}

.github div a img {
    width: 40px;
    height: 40px;
    transition: width 2s, height 2s, transform 2s;
}

.github div a img:hover {
    width: 60px;
    height: 60px;
    transform: rotate(360deg);
}

@media screen and (max-width: 720px) {
    .footer {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .myLogo, .github {
        margin: 0;
    }

    .rights {
        margin-bottom: 20px;
    }

    .rights h2 {
        font-size: 10px;
    }

    .github {
        justify-content: center;
        padding-bottom: 20px;
    }
}