.footer {
    display: flex;
    background-color: #0D2821;
    justify-content: space-between;
    
}

.myLogo {
    margin-left: 20px;
}

.myLogo a img {
    width: 100px;
    height: 100px;
}


.rights h2 {
    color: #cecece;
}

.rights h2:hover {
    color: black;
}

.github {
    display: flex;
    margin-right: 20px;
}

.github div {
    margin-right: 15px;
}

.github div a img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 720px) {
    .footer {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .myLogo, .github {
        margin: 0;
    }

    .rights {
        margin-bottom: 20px;
    }

    .rights h2 {
        font-size: 10px;
    }

    .github {
        justify-content: center;
        padding-bottom: 20px;
    }
}